h3{
    text-align: center;
}

.grid-container {
  margin: 20px;
}

.contact-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.contact-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px 20px;
}


@media (min-width: 576px){
    .contact-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
    max-width: 1110px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
