<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>Sus productos</ng-template>
        <div *ngIf="(products$ | async) as products">
            <p *ngIf="products.length === 0">No hay productos</p>
            <div class="row" *ngFor="let product of products">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        <img class="image" [src]="product.image" alt="imagen">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        {{ product.title }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        {{ product.price }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="box">
                        TOTAL: <label><b>({{ product | cartrepeat }})</b></label>
                    </div>
                </div>
            </div>
        </div>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Datos personales</ng-template>
        <h2>contenido</h2>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Pago</ng-template>
        <h2>contenido</h2>
    </mat-step>
</mat-horizontal-stepper>