<div class="product-grid">
    <mat-card *ngFor="let sermon of sermons">
        <mat-card-header>
            <mat-card-title>{{ sermon.title }}</mat-card-title>
            <mat-card-subtitle>{{ sermon.preacher }} {{ sermon.sermondate | date:'dd-MM-yyyy HH:mm'}}
            </mat-card-subtitle>

        </mat-card-header>
        <div class="crop-image">

            <!-- <img src="product.image" alt="imagen"> -->
        </div>
        <mat-card-content>

            <p class="description">{{ sermon.description }}</p>
        </mat-card-content>
        <mat-card-actions>
            <div class="box">
                <a [href]="sermon.urlfile" target="_blank" mat-fab color="primary" aria-label="Descargar">
                    <mat-icon>cloud_download</mat-icon>
                </a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>