<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="box">

                    <img src="/assets/images/logo.png" alt="logo">
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>Iglesia Petecostal Unida de Colombia</h3>
                    <ul>
                        <li>
                            <span>
                                <mat-icon>house</mat-icon>
                                Calle 23 # 42 - 19
                            </span>
                        </li>
                        <li>
                            <span>
                                <mat-icon>location_city</mat-icon>
                                Barrio - San Judas
                            </span>
                        </li>
                        <!-- <li>
                            <span>
                                <mat-icon>perm_phone_msg</mat-icon>
                                ...
                            </span>
                        </li>-->
                        <li>
                            <span>
                                <mat-icon>email</mat-icon>
                                ipucsanjudas@gmail.com
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>Siguenos en redes sociales</h3>
                    <ul>
                        <li>
                            <a class="icon-box" href="https://www.facebook.com/IpucSanJudas" target="_blank">
                                <span><img src="/assets/images/facebook.png" alt=""></span>
                            </a>
                            <a class="icon-box" href="https://www.youtube.com/channel/UCUOfnLpmY4_9dunIT072BUA"
                                target="_blank">
                                <span><img src="/assets/images/youtube.png" alt=""></span>
                            </a>
                            <a class="icon-box" href="https://www.instagram.com/ipucsanjudasoficial" target="_blank">
                                <span><img src="/assets/images/instagram.png" alt=""></span>
                            </a>
                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ul>
                    <!-- <mat-form-field color="accent" class="full-width">
                        <input [formControl]="emailField" matInput placeholder="Digite email" type="email">
                    </mat-form-field>
                    <button [disabled]="emailField.invalid" mat-raised-button (click)="sendEmail()">Enviar</button> -->
                </div>
            </div>
        </div>
        <div class="footer">
            Made by <a href="https://hallelujahcode.com/" target="_blank">Hallelujahcode</a>
        </div>
    </div>
</footer>