<div class="container">

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/assets/images/banner-2.jpg" alt="imagen">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box">
                <h3 class="text-center">Quienes somos</h3>
            </div>
        </div>

        <p>La Iglesia es el cuerpo de Cristo en la tierra, según lo afirma el apóstol Pablo en su carta a los efesios.
            Por lo
            tanto, este cuerpo requiere trabajar armónicamente para alcanzar su objetivo principal de predicación del
            evangelio.
        </p>
        <p>
            <strong>Visión:</strong> Alcanzar a todos los que podamos; ganar a todos los que alcancemos; formar a todos
            los que ganemos y usar a
            todos los que formemos.
        </p>
        <p>
            <strong>Misión:</strong> “Id por todo el mundo y predicad el evangelio a toda criatura” San Marcos 16:17
        </p>
    </div>

    <div class="row">

    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box">
                <h3 class="text-center">En que creemos</h3>
            </div>
        </div>

        <p>
            Creemos en el solo Dios viviente, Eterno, Infinito en poder, Santo en naturaleza, atributos y propósitos; y
            que posee
            divinidad absoluta e indivisible.
        </p>

        <p>La fe es el resultado de oír o recibir el evangelio de la gracia de Dios.</p>
        <p>Creemos que Jesús es Dios: Juan 20.28; Romanos 9.5; Juan 20.28; Romanos 9.5; 1 Juan. 5.20. Creemos que
            Jesucristo es
            verdadero Dios y verdadero hombre. Lucas 18.18; Juan 5.27; 1 Corintios 15.47.</p>
        <p>Creemos en el bautismo en agua por inmersión.</p>
        <p>
            Creemos en el bautismo del Espíritu Santo
        </p>
    </div>
</div>